pyTelegramBotAPI==3.7.6
pip==21.0

#сюда прописывается библиотеке которые используются в боте, если что то новое придумаете , то запишите название и версию этой библиотеке узнать ее можно забив в терминал команду pip list
#инструкция по деплою на серве. будут вопросы - пиши. 1зарегестрируйтесб на сайте heroku. 2 в терминал вводи heroku login нажми любую клавишу кроме q и перейди по ссылке и нажми на кнопку. затем вводи следующие команды в тот же терминал там ничего нажимать уже не нужно юудет heroku create, затем переходишь на сайт хероку там у тебя уже создано приложение нажимаешь на него переъодишь в раздел deploy и перед тобой список команд, начинаешь их вставлять в терминал (со второй) после того как по очереди введешь все команды включаешь сервер командой heroku ps:scale worker=1
#надеюсь у тебя получилось , но если нет , то напиши мне я помогу
#